.character-card{
    width: 18rem;
    border: none;
    margin: 5px;
    background-color: rgb(22, 22, 22);
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.character-card:hover{
    transition: 0.3s;
    opacity: 0.9;
    transform: scale(0.9) rotate(3deg);
}

@media screen and (max-width: 480px) {
    .character-card{
        max-width: 43%;
        font-size: small;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .character-card{
        max-width: 30%;
        font-size: small;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .character-card{
        max-width: 20%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px){
    .character-card{
        max-width: 20%;
 
    }
}